ion-title {
    --color: #022D50;
}

ion-card-title {
    --color: #022D50;
}

ion-card {
    --background: #f5f6f9;
}

ion-content {
    --background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/img/duocpuerta.jpg") no-repeat center center / cover;
}
