<ion-header [translucent]="true">
  <ion-toolbar>
    <!--
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>-->
    <ion-title>alert</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="mostrarMenu()" color="warning">
      <ion-icon slot="icon-only" name="add"></ion-icon>
      Click me
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alert</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="Saludar()" expand="block" fill="solid" color="success" shape="round">
    Saludo
  </ion-button>
  <ion-button (click)="Ingresar()" expand="block" fill="solid" color="warning" shape="round">
    Ingresar
  </ion-button>
  <ion-button (click)="Confirmar()" expand="block" fill="solid" color="danger" shape="round">
    Confirmar?
  </ion-button>
  <p style="color:coral;">{{ handlerMessage }}</p>
  <p style="color:cyan;">{{ roleMessage }}</p>


</ion-content>
