.letras{
    color:rgb(255, 255, 255)
}
ion-card-content{
    color: #F2A81D;
}
ion-title{
    margin-left: 20px;
}
ion-content {
    --background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/img/duocpuerta.jpg") no-repeat center center / cover;
}
