<ion-header color="#F2F2F2"[translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="warning">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center"[fullscreen]="true">

  <img src="assets/logo_registrapp.png" class="ion-padding">
  <ion-card class="contenido">
    <ion-card-header>
      <ion-card-title class="titulo">¿Quiénes Somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      RegistrApp es una aplicación móvil nacida de la mnecesidad de registrar asistencia. Esta idea es implementada y desarrollada por AcevedoSoluciones
      y financiada por DuocUC, contamos con una larga trayectoria en desarrollo y contamos con más ideas futuras a desarrollar para el buen vivir y la comodidad.
    </ion-card-content>
    <img src="assets/Duoclogo.png" class="ion-padding">
  </ion-card>
