<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" 
            text="back"
            color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ej. Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Subtitulo 1</ion-card-subtitle>
      <ion-card-title>Titulo 1</ion-card-title>
    </ion-card-header>
    <ion-card-content class="texto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque error, natus amet vitae quis a sint cum officia voluptatum accusamus reprehenderit nobis quisquam incidunt perferendis fugiat inventore obcaecati distinctio?
    </ion-card-content>
  </ion-card>

  <ion-card class="contenido">
    <img src="assets/perrito.jpg" class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>Cachorro</ion-card-subtitle>
      <ion-card-title class="titulo">Perrito Blanco</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea repellat unde iure, dolorum quidem adipisci quaerat, quisquam laudantium vero incidunt laborum quae maxime. Alias nesciunt illum consequatur quas ea totam!
    </ion-card-content>
  </ion-card>


  <ion-card class="contenido">
    <ion-card-header>
      <ion-card-subtitle>Cachorro</ion-card-subtitle>
      <ion-card-title class="titulo">Perrito Blanco</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati quis veritatis nulla reprehenderit? Sint nobis molestiae, exercitationem illo ducimus doloribus numquam laborum a cupiditate rem eveniet doloremque facilis distinctio provident?
    </ion-card-content>
    <img src="assets/perrito.jpg" class="ion-padding">
  </ion-card>




</ion-content>
